.profileHeader-container{

}

.profileHeader-card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 3rem;
}

.profileHeader-card .profileHeader-info {
    display: flex;
    align-items: center;
    border-right: 1px solid var(--white-color);
    padding-right: 1rem; 
    margin-right: 1rem;
    gap: .2rem;
}
.profileHeader-greeting{
    font-weight: 700;
}
.profileHeader-username{
    font-size: 1.25rem;
    font-weight: 700;
}