.trade-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 0.2rem solid var(--black-color);
  border-radius: 1rem;
  background: var(--trade-background-color);
  cursor: pointer;
}

.trade-button:hover {

}
