.ConnectUs-container {
   display: flex;
   flex-direction: column;
   gap: 2rem; 
   align-items: flex-start;
   justify-content: center;
   padding:  3rem 5rem;
}

.ConnectUs-title .ConnectUs-heading{
    color: var(--white-color);
}


.ConnectUs-Block-Container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 2rem;
    width: 100%;
}

.ConnectUs-Block-Item {
    padding: 2rem;
    background-color: var(--primary-color);
    border-radius: 16px;
}

.ConnectUs-Block-Item:first-child {
    grid-column: span 2;
}

.ConnectUs-Label-Container {
    padding: 1rem; 
    background-color: var(--black-color);
    border-radius: 16px;
    width: fit-content;
    margin-bottom: 3rem;
}

.ConnectUs-Label {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 1rem;
    width: 100%;
    transform: translateX(5%);
    transition: transform 0.4s ease;
}


.ConnectUs-Label span{
    font-size: 1.2rem;
    font-weight: 500;
}

.ConnectUs-Label i{
    font-size: 1.2rem;
    transform: translateX(+100%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.2s ease;
}

.ConnectUs-Label-Container:hover .ConnectUs-Label i {
    transform: translateX(0%);
    opacity: 1;
}

.ConnectUs-Label-Container:hover .ConnectUs-Label {
    transform: translateX(0%);
}

.ConnectUs-Content-Container *{
    font-size: 1.8rem;
    font-weight: 600;
}

.bg-Orange {
    background-color: rgba(241, 105, 14, 0.08);
    color: rgb(241, 105, 14);  
}

.bg-Blue {
    background-color: rgba(20, 116, 242, 0.08);
    color: rgb(20, 116, 242);  
}

.bg-Pink {
    background-color: rgba(199, 14, 241, 0.08);
    color: rgb(199, 14, 241);  
}

/**************************** Responsive part */

/* Mobile (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
    .ConnectUs-Block-Container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .ConnectUs-Block-Item {
        width: 100%;
    }
  } 
  
  /* Tablets (768px - 1280px) */
  @media (min-width: 768px) and (max-width: 1280px) {
   
  }
