.nft-collection {
  margin: 4.5rem 0;
  position: relative;
}

.nft-collection .nft-collection-header {
  margin-bottom: 1rem;
  overflow: hidden;
}

.nft-collection-header-bottom {
  min-height: 20vh;
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 3rem;
}

.nft-collection-header-bottom {
  min-height: 20vh;
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 3rem;
}

.nft-collection-description-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.599);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nft-collection-set-description-container {
  width: 31rem;
  height: 25rem;
  border-radius: 1rem;
  background-color: var(--app-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem 1.2rem;
}

.nft-collection-set-description-header {
  font-size: 1.5rem;
  width: 100%;
}

.nft-collection-set-description-input {
  height: 100%;
  width: 100%;
  background-color: var(--black-color);
  border: 0.05rem solid var(--trade-secondary-text-color);
  border-radius: 10px;
  color: var(--white-color);
  padding: 10px;
  font-size: 1.1rem;
  resize: none;
}

.nft-collection-set-image-input {
  height: 100%;
  width: 100%;
  border: 0.1rem dashed var(--trade-secondary-text-color);
  border-radius: 10px;
  color: var(--white-color);
  font-size: 1.1rem;
  padding: 0.2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}

.nft-collection-set-image-input label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  width: 100%;
}

.nft-collection-set-image-input svg {
  width: 1.5rem;
  height: 1.5rem;
}

.nft-collection-set-image-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  width: 100%;
  font-size: 0.9rem;
}

.nft-collection-set-image-container p {
  font-size: 1rem;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  max-width: 100%; 
}

.nft-collection-set-image-cover {
  height: 5rem;
  width: 5rem;
  aspect-ratio: 1/1;
  border: 0.05rem solid var(--trade-secondary-text-color);
  border-radius: 0.5rem;
  padding: 0.2rem;
  display: flex;
}

.nft-collection-set-image-cover img {
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 0.3rem;
}

.nft-collection-set-description-btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.nft-collection-set-description-btns button {
  width: 100px;
  height: 35px;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.nft-collection-set-description-btns button:hover {
  cursor: pointer;
}

.nft-collection-set-description-btns button:active {
  transform: scale(0.9);
}

.nft-collection-set-description-btn-cancel {
  background: transparent;
  border: 0.02rem solid var(--white-color);
  color: var(--white-color);
}

.nft-collection-set-description-btn-save {
  background: var(--primary-color);
  border: 0.02rem solid var(--primary-color);
  color: white;
}

.nft-collection-header-desc-text.nft-skeleton {
  height: 2.5rem;
  border-radius: 20rem;
  background: var(--nft-collection-shimmer-1);
  animation: shimmer 1.5s infinite linear;
  width: 80%;
}

.nft-collection-header-desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nft-collection-header-desc-text {
  width: 100%;
  font-size: 1.1rem;
}

.see-more-btn {
  border: none;
  background: none;
  color: var(--white-color);
  cursor: pointer;
  font-weight: 700;
  margin-left: 5px;
}
.see-more-btn:hover {
  color: rgb(128, 128, 128);
}

.nft-collection-header-desc-stat.nft-skeleton {
  height: 2.5rem;
  border-radius: 20rem;
  background: var(--nft-collection-shimmer-1);
  animation: shimmer 1.5s infinite linear;
}

.nft-collection-header-desc-stat {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nft-collection-header-desc-stat div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nft-collection-header-desc-stat div p {
  font-size: 1.1rem;
}

.nft-collection-header-desc-stat div p:nth-child(2) {
  font-weight: 700;
}

.nft-collection-header-btn {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.nft-collection-header-btn svg {
  width: 2rem;
  height: 2rem;
  transform: rotate(90deg);
}

.nft-popover {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  background: var(--black-color);
}

.nft-popover .nft-popover-item {
  height: auto;
  width: 15rem;
  cursor: pointer;
  display: flex;
  border-radius: 0.2rem;
  padding: 0.5rem 0.7rem;
  transition: all 0.2s;
}

.nft-popover-item span {
  margin-left: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.nft-popover-item:hover {
  color: var(--primary-color);
  background: rgb(247, 247, 247);
}

.nft-collection-main {
  display: flex;
}

.nft-collection-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  width: 100%;
  padding: 0 3rem;
  margin: auto;
}

.nft-item {
  width: 100%;
  height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.7rem;
  overflow: hidden;
  background: var(--nft-collection-card);
  box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.nft-item-cover {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.nft-item-cover img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.5s;
}

.nft-collection-items .nft-item:hover .nft-item-cover img {
  transform: scale(1.1);
}

.nft-item-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 6rem;
  padding: 1.1rem 1.2rem 0.8rem;
}

.nft-item-desc h3 {
  font-family: "Manrope";
  font-size: 1rem;
}

.nft-item-desc p {
  font-family: "Manrope";
  font-size: 1rem;
  font-weight: 600;
}

.nft-item-buy {
  align-self: flex-end;
  display: flex;
  align-items: center;
  text-align: center;
  height: 2rem;
  width: 100%;
  background: var(--primary-color);
  transform: translateY(101%);
  transition: all 0.5s;
}

.nft-item-buy p {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}

.nft-item:hover .nft-item-buy {
  transform: translateY(0);
}

.nft-item-buy:hover {
  background: #00943e;
}

.nft-skeleton .nft-item-cover {
  background: var(--nft-collection-shimmer-1);
  animation: shimmer 1.5s infinite linear;
}

.nft-skeleton .nft-item-desc {
  background: var(--nft-collection-card);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.1rem 1.2rem 0.8rem;
}

.nft-skeleton .nft-item-desc h3 {
  background: var(--nft-collection-shimmer-1);
  animation: shimmer 1.5s infinite linear;
  height: 1.7rem;
  width: 70%;
  border-radius: 10rem;
}

.nft-skeleton .nft-item-desc p {
  background: var(--nft-collection-shimmer-1);
  animation: shimmer 1.5s infinite linear;
  height: 1.7rem;
  width: 50%;
  border-radius: 10rem;
}

.nft-skeleton:hover .nft-item-buy {
  transform: translateY(100%);
}

@keyframes shimmer {
  0% {
    background: var(--nft-collection-shimmer-1);
  }
  50% {
    background: var(--nft-collection-shimmer-2);
  }
  100% {
    background: var(--nft-collection-shimmer-1);
  }
}
