.swap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.swap-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
  margin: auto;
}

.swap-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.swap-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.swap-right h2 {
  font-family: "Manrope";
  font-size: 1.5rem;
}

.swap-right .swap-right-desc {
  font-size: 0.8rem;
  color: #adadad;
  align-self: flex-start;
}
