.convert-trade {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.swap-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
  width: 30rem;
  margin: auto;
}

.swap-left {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.swap-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.swap-container .swap-btn {
  background: var(--primary-color);
  height: 2.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.swap-container .swap-btn:hover {
  background: #00943e !important;
}

.swap-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.swap-right h2 {
  font-family: "Manrope";
  font-size: 1.5rem;
}

.swap-right .swap-right-desc {
  font-size: 0.8rem;
  color: #adadad;
  align-self: flex-start;
}
