* {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --primary-color: #00da5b;
  --secondary-color: #3e7b27;
  --third-color: #306844;
  --header-color: #00da5b;
  --text-color: #d9d9d9;
  --price-rising: #00c853;
  --price-falling: #d32f2f;
  --grey-color: #343434;  
  --black-background-color: #1e2329;
}

.app.dark {
  --trade-background-color: #1b1b1b;
  --trade-secondary-text-color: #9b9b9b;
  --trade-input-placeholder-color: #5e5e5e;
  --trade-border-color: #333333;
  --trade-border-active-color: #505050;
  --trade-background-active-color: #2b2b2b;
  --white-color: #f5f5f5;
  --black-color: #131313;
  background: var(--black-color);
  color: var(--white-color);
}

.app.light {
  --trade-background-color: #f3f3f3;
  --trade-secondary-text-color: #9b9b9b;
  --trade-input-placeholder-color: #5e5e5e;
  --trade-border-color: #333333;
  --trade-border-active-color: #505050;
  --trade-background-active-color: #2b2b2b;
  --white-color: #131313;
  --black-color: #f5f5f5;
  background: var(--black-color);
  color: var(--white-color);
}

body {
  padding: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 319px) {
  * {
    font-size: 6px;
  }
}

/* Small Mobile (481px - 767px) */
@media (min-width: 320px) and (max-width: 480px) {
  * {
    font-size: 8px;
  }
}

/* Mobile (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  * {
    font-size: 10px;
  }
}

/* Tablets (768px - 1280px) */
@media (min-width: 768px) and (max-width: 1280px) {
  * {
    font-size: 12px;
  }
}

/* Small Laptops (1281px - 1440px) */
@media (min-width: 1281px) and (max-width: 1440px) {
  * {
    font-size: 14px;
  }
}

/* Desktops (1441px - 1920px) */
@media (min-width: 1441px) and (max-width: 1920px) {
  * {
    font-size: 16px;
  }
}

/* Large Desktops (1921px and above) */
@media (min-width: 1921px) {
  * {
    font-size: 24px;
  }
}
