.coin-details-overview{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
}

/* Coin logo and symbols */
.coin-details-overview-logo{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.coin-details-overview-symbol{
    font-size: 2.3rem;
    margin-right: 1rem;
}

.coin-details-overview-name{
    font-size: 1.7rem;
    height: fit-content;
    color:rgb(155, 155, 155);
    font-weight: 500;
}

.coin-details-overview-img{
    width: 4rem;
    height: 4rem;
    margin-right: 5px;
    display: block;
}

/* Prices fluctuation */
.coin-details-fluctuation{
    font-weight: 800;
    font-size: 1.3rem;
    text-wrap: nowrap;
    position: absolute;
    transform: translate(0.5rem, 0.5rem);

}

.coin-details-upward-fluctuation{
    color: var(--price-rising);
}

.coin-details-downward-fluctuation{
    color: var(--price-falling);
}

/* Period selection for prices */
.coin-details-overview-price-period{
    width: 100%;
    padding: 0, 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.coin-details-overview-price-period h2{
    font-size: 2.6rem;
    font-weight: 500;
}

.price-period-selection-container{
    display: flex;
    padding: 3px;
    gap: 1.6rem;
    border: 2px solid var(--trade-input-placeholder-color);
    border-radius: 15px;
}
.price-period-selection{
    font-family: Arial;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--trade-input-placeholder-color);
    width: 40px;
    padding: 1px 0;
    border-radius: 10px;
    transition: 0.2s;
}

.app.dark .price-period-selection:hover{
    cursor: pointer;
    transition: color 0.2s;
    color: var(--white-color);
}

.app.light .price-period-selection:hover{
    cursor: pointer;
    transition: color 0.2s;
    color: rgb(167, 167, 167);
}

.price-period-selected{
    background-color: var(--trade-input-placeholder-color);
    color: white;
}

/* Chart */
.coin-details-overview-chart{
    width: 100%;
    height: 370px;
    padding: 20px;
    background: rgb(0, 0, 0);
}

