.convert-currencies-container {
  display: flex;
  flex-direction: column;
  border: 0.05rem solid #3a3a3a;
  border-radius: 1.4rem;
  padding: 1rem 1rem;
  padding-bottom: 1.5rem;
  width: 100%;
  cursor: pointer;
}

.convert-currencies-container:hover {
  border: 0.05rem solid #868686;
}

.convert-currencies-container-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.convert-currencies-container-top p {
  font-size: .95rem;
  font-weight: 600;
  color: grey;
}

.convert-currencies-container-bottom {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 5rem;
}
