.Popular_Conversions-Container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin-top: 3rem;
    height: fit-content;
}

.Popular_Conversions-Wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 80%;
}

/* .Heading_title-Conversions {
    font-family: ;
} */

.Subtest_heading-Conversions {
    color: var(--text-color);
}


.Popular_Conversions-Item-Container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28%, 1fr)); 
    gap: 2rem; 
}


.Conversions-Item {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding: 2.5rem;
    border: 1.5px solid var(--white-color);
    border-radius: 20px;   
}

.Conversiosn-Link {
    font-size: 1.3rem;
}

.Conversions-Link-Container p {
    color: var(--text-color);
    font-size: 0.8rem;
}

.Conversions-Image-Container {
    display: flex;
    gap: -10px; 
    height: 100%;
    align-items: center;
}

.Conversions-Image {
    width: 2.5rem; 
    height: 2.5rem;  
}

.Conversions-Image:first-child {  
    margin-right: -10px;
}


