.send-tokens-exchange {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.1rem;
  background: var(--trade-background-color);
  border-radius: 1rem 1rem 0 0;
  padding: 0.9rem 1rem;
  height: 16.25rem;
}

.send-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.send-top span {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--trade-secondary-text-color);
}

.send-bottom {
  margin: auto;
}

.send-bottom input {
  padding: 0;
  background: none;
  border: none;
  font-size: 5rem;
  font-weight: 600;
  width: 25rem;
  text-align: center;
  color: var(--white-color);
}

.send-bottom input::placeholder {
  color: var(--trade-input-placeholder-color);
}

.send-bottom input:hover {
  background: transparent;
  border: none;
}

.send-bottom input:focus {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

.send-currency-change {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--trade-secondary-text-color);
}

.send-currency-change span {
  margin-right: 1rem;
}

.send-currency-change hr {
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 0.1rem;
}

.send-currency-change i {
  font-size: 0.7rem;
  transform: rotate(90deg);
  color: var(--trade-secondary-text-color);
  cursor: pointer;
}

.send-tokens-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--trade-background-color);
  border-radius: 0 0 1rem 1rem;
  padding: 0.7rem 1rem;
  border-top: 0.1rem solid var(--black-color);
  height: 4rem;
  cursor: pointer;
}

.send-tokens-selection:hover {
  background: var(--trade-btn-hover);
}

.send-tokens-selection-coin {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.send-tokens-selection-coin p {
  font-weight: 600;
}

.send-tokens-selection-coin img {
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.send-tokens-selection-icon i {
  font-size: 0.9rem;
  color: #565656;
}
