.trade {
  padding-top: 8rem;
}

.trade-container {
  width: 450px;
  margin: auto;
}

.trade-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.trade-btn {
  background: var(--primary-color);
  color: var(--white-color);
  height: 3.5rem;
  font-weight: 600;
  border-radius: 1rem;
  align-self: center;
  transition: none;
}

.trade-btn:hover {
  background: #00943e !important;
}

.trade-btn.enabled {
  background: var(--primary-color);
  color: white;
  height: 3.5rem;
  font-weight: 600;
  border-radius: 1rem;
  align-self: center;
}

.trade-btn.disabled {
  cursor: auto;
  background: var(--trade-background-color);
  color: var(--trade-secondary-text-color);
  height: 3.5rem;
  font-weight: 600;
  border-radius: 1rem;
  align-self: center;
  box-shadow: none;
}

.trade-btn.disabled:hover {
  background: var(--trade-background-color) !important;
  color: var(--trade-secondary-text-color) !important;
}

.send-btn-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.send-btn-content .loader-container {
  position: absolute;
  top: -0.9rem;
  left: -1.5rem;
}
