.trade {
  padding-top: 8rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.trade-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trade-child.swap .trade-main {
  margin-bottom: 3.5rem;
}
.trade-child.buy .trade-main {
  margin-bottom: 4rem;
}
.trade-child.send .trade-main {
  margin-bottom: 5rem;
}

.trade-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  width: 28.125rem;
  margin: auto;
}

.trade-contractAddress {
  margin-top: 0.5rem;
  text-align: center;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.trade-contractAddress:hover {
  color: var(--primary-color);
}

.trade-btn {
  background: var(--primary-color);
  color: var(--white-color);
  height: 3.5rem;
  font-weight: 600;
  border-radius: 1rem;
  align-self: center;
  transition: none;
}

.trade-btn:hover {
  background: #00943e !important;
}

.trade-btn.enabled {
  background: var(--primary-color);
  color: white;
  height: 3.5rem;
  font-weight: 600;
  border-radius: 1rem;
  align-self: center;
}

.trade-btn.disabled {
  cursor: auto;
  background: var(--trade-background-color);
  color: var(--trade-secondary-text-color);
  height: 3.5rem;
  font-weight: 600;
  border-radius: 1rem;
  align-self: center;
  box-shadow: none;
}

.trade-btn.disabled:hover {
  background: var(--trade-background-color) !important;
  color: var(--trade-secondary-text-color) !important;
}

.send-btn-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.send-btn-content .loader-container {
  position: absolute;
  top: -0.9rem;
  left: -1.5rem;
}

.custom-modal a:hover {
  color: var(--primary-color);
}
