@media (max-width: 650px){
    .market-page .market-title{
        margin:0 auto;
        max-width: 80%;
        justify-content: center;
    }

    .market-page .market-heading{
        font-size: 5rem;
        margin: 20px auto;
        text-align: center;
    }

    .market-page .market-description{
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 30px;
    }
}

.market-title{
    max-width: 22rem;
}

.market-heading{
    font-size: 4rem;
    font-weight: 700;
}

.market-description{
    font-size: 1.1rem;
    text-align: justify;
    letter-spacing: 0.004rem;
}

.market-search-container{
    min-width: 22rem;
    height: 2.5rem;
    border-radius: 8px;
    border: 3px solid #D9D9D9;
    background: #FFF;
    position: relative;
    margin-top: 2rem;
}


