/* General Navbar Styling */
.navbar {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
  height: 4.5rem;
  top: 0;
  background: var(--app-background);
  z-index: 1000;
}

/* Logo Section */
.navbar-left-logo .Link_Home img {
  max-width: 100%;
  width: 100%;
  max-height: auto;
  height: 100%;
}

/* Left Section */
.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.navbar-left a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}

.navbar-left .navbar-left-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  gap: 1.5rem;
}


.navbar-left p {
  font-family: "Oxanium", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--header-color);
}

.navbar-left .navbar-left-menu .navbar-left-menu-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  height: 5rem;
  text-decoration: none;
  transition: all 0.3s ease;
  color: var(--white-color);
}

.navbar-left .navbar-left-menu .navbar-left-menu-link:hover {
  color: var(--primary-color);
}

.navbar-left .navbar-left-menu .navbar-left-menu-name {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
}

.navbar-left .navbar-left-menu .fa-chevron-down {
  font-size: 0.7rem;
  cursor: pointer;
  display: inline-block;
}

.navbar-left
  .navbar-left-menu-link:hover
  .navbar-left-menu-name
  .fa-chevron-down {
  font-size: 0.7rem;
  cursor: pointer;
  display: inline-block;
  transform: rotate(180deg);
}

/* Center Section */
.navbar-center {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
}

.navbar-center .coin-search-input-container {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  padding: 0 0.5rem;
}

.navbar-center .coin-search-input {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 0.02rem solid var(--searchbar-border);
  border-radius: 2rem;
  padding: 0 0.2rem;
}

.navbar-center .search-icon-container {
  position: relative;
  background: none;
  height: 2.5rem;
  width: calc(2.5rem + 3px);
  position: relative;
  transform: translateX(-3px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: none;
  cursor: pointer;
}

.navbar-center .search-icon-container:hover {
  box-shadow: none;
  filter: brightness(100%);
}

.navbar-center .search-icon-container img {
  width: 1.1rem;
  height: 1.1rem;
}

.app.light .navbar-center .search-icon-container img {
  width: 1.1rem;
  height: 1.1rem;
  filter: invert(1);
}

.navbar-center .coin-search-input input {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Manrope";
  color: var(--white-color);
}

.navbar-center .coin-search-input input:focus {
  outline: none;
  caret-color: var(--white-color);
  font-weight: 600;
}

.navbar-center .coin-search-input input::placeholder {
  font-size: 1rem;
  color: var(--searchbar-text);
}

.navbar-center .coin-search-input-icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

.navbar-center .coin-search-input-icon img {
  width: 100%;
  height: 100%;
  filter: invert(0);
}

.app.light .navbar-center .coin-search-input-icon img {
  width: 100%;
  height: 100%;
  filter: invert(1);
}

.navbar-center .coin-search-input-icon:hover {
  cursor: pointer;
}

.navbar-center .coin-search-input-result {
  width: 100%;
  position: absolute;
  left: -3px;
  margin-top: 5px;
  border-radius: 0.5rem;
  z-index: 2000;
  background: var(--searchbar-result-background);
  -webkit-backdrop-filter: blur(8.5px);
  backdrop-filter: blur(8.5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.navbar-center .search-result-line {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 7px;
}

.navbar-center .search-result-line.active {
  background-color: var(--grey-color);
}

.navbar-center .search-result-line:hover {
  background-color: var(--grey-color);
}

.navbar-center .search-result-line-logo {
  display: flex;
  align-items: center;
}

.navbar-center .search-result-line-symbol {
  font-size: 1.2rem;
}

.navbar-center .search-result-line-logo img {
  width: 2.6rem;
  height: 2.6rem;
  margin-right: 7px;
}

/* Right Section */
.navbar-right .navbar-connectWallet {
  color: var(--white-color);
  background-color: var(--header-color);
  border: none;
  font-weight: 500;
}

.navbar-right .navbar-connectWallet:hover {
  color: var(--white-color) !important;
  background-color: var(--secondary-color) !important;
}
.navbar-right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  cursor: pointer;
}
.navbar-right-profile {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-right-user {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  padding: 0.15rem 0 0.15rem 0.4rem;
  border: 0.5px solid var(--white-color);
  border-radius: 5rem;
}

.app.light .navbar-right-user .navbar-icon {
  filter: invert(1);
}

/* .Btn_Menu_Responsive {
  font-size: 1.2rem;
  cursor: pointer;
  display: none;
  width: 100%;
} */

/* Responsive design css 
------------------------------------------- */

/* Tablet View (Medium Screens) */
@media (max-width: 1024px) {
  .navbar {
    padding: 0 0.8rem;
  }
  .navbar-left {
    gap: 0.6rem;
  }
  .navbar-right {
    gap: 0.6rem;
  }
  .navbar-left-menu {
    gap: 0.6rem;
  }
  .navbar-left-menu-link {
    font-size: 0.9rem;
  }

  .navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;
  }
}

/* Mobile View (Small Screens) */
@media (max-width: 767px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 4rem;
  }
  .navbar-left-menu {
    display: none;
  }
  .navbar-center {
    display: none;
  }
  .navbar-right {
    gap: 0.5rem;
  }
}