/* General Navbar Styling */
.navbar {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
  height: 4.5rem;
  top: 0;
  background: var(--black-color);
  z-index: 1000;
}

/* Left Section */
.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.navbar-left a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}

.navbar-left .navbar-left-logo img {
  max-width: 100%;
  width: 80%;
  max-height: auto;
  height: 100%;
}

.navbar-left p {
  font-family: "Oxanium", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--header-color);
}

.navbar-left .navbar-left-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  gap: 1.5rem;
}

.navbar-left .navbar-left-menu .navbar-left-menu-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  height: 5rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar-left .navbar-left-menu .navbar-left-menu-link:hover {
  color: var(--primary-color);
}

.navbar-left .navbar-left-menu a .navbar-left-menu-name {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
}

.navbar-left .navbar-left-menu .fa-chevron-down {
  font-size: 0.7rem;
  cursor: pointer;
  display: inline-block;
}

.navbar-left
  .navbar-left-menu-link:hover
  .navbar-left-menu-name
  .fa-chevron-down {
  font-size: 0.7rem;
  cursor: pointer;
  display: inline-block;
  transform: rotate(180deg);
}

/* Center Section */
.navbar-center {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-center .navbar-center-searchbar {
  height: 2.5rem;
  width: 25rem;
  padding: 0 1.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgb(29, 29, 29);
  border: 0.05rem solid #3a3a3a;
  border-radius: 5rem;
}

.navbar-center .navbar-searchbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navbar-center .navbar-searchbar-container i {
  font-size: 1rem;
  font-weight: 600;
  color: #7a7a7a;
}

.navbar-center .navbar-searchbar-container p {
  font-size: 1rem;
  font-weight: 600;
  color: #7a7a7a;
}

/* Right Section */
.navbar-right .navbar-connectWallet {
  color: var(--white-color);
  background-color: var(--header-color);
  border: none;
  font-weight: 500;
}

.navbar-right .navbar-connectWallet:hover {
  color: var(--white-color) !important;
  background-color: var(--secondary-color) !important;
}
.navbar-right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  cursor: pointer;
}
.navbar-right-profile {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-right-user {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  padding: 0.1rem 0 0.1rem 0.4rem;
  border: 0.5px solid white;
  border-radius: 5rem;
}
