.buy-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.1rem;
  background: var(--trade-background-color);
  border-radius: 1rem;
  padding: 0.9rem 1rem;
  height: 21.5rem;
}

.buy-top span {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--trade-secondary-text-color);
}

.buy-bottom {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  width: 100%;
}

.buy-bottom input {
  padding: 0;
  background: none;
  border: none;
  font-size: 5rem;
  font-weight: 600;
  width: 25rem;
  text-align: center;
  color: var(--white-color);
}

.buy-bottom input::placeholder {
  color: var(--trade-input-placeholder-color);
}

.buy-bottom input:hover {
  background: transparent;
  border: none;
}

.buy-bottom input:focus {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

.buy-token-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 2rem;
  padding: 0.3rem 1rem;
  margin-bottom: 0.4rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.buy-token-selection.inactive {
  background: var(--primary-color);
}

.buy-token-selection.active {
  background: var(--app-background);
  color: var(--white-color);
  border: 0.01rem solid var(--trade-border-color);
}

.buy-token-selection i {
  font-size: 0.7rem;
  color: var(--white-color);
}

.buy-price-quick-selection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buy-price-quick-selection button {
  border: 0.05rem solid var(--trade-border-color);
  border-radius: 2rem;
  background: var(--app-background);
  color: var(--trade-secondary-text-color);
  padding: 0.4rem 0.9rem;
  cursor: pointer;
}

.buy-price-quick-selection button:hover {
  background: var(--trade-btn-hover);
}
