.estimatedBalance-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 0.05rem solid var(--white-color);
    padding: 1rem 2rem;
    height: 12rem;
    width: 100%;
    border-radius: 1.5rem;
}
.estimatedBalance-card-shrink{
    width: fit-content;
}
.estimatedBalance-card.shrink {
    width: auto; /* If class "shrink" is added, shrink the width */
  }
.estimatedBalance-card h2{
    font-size: 2rem;
}
.estimatedBalance-card .estimatedBalance-balance{
    font-family: "Oxanium", serif;
    font-optical-sizing: auto;
    font-size: 3rem;
    font-weight: 700;
    display: inline;
}
.estimatedBalance-details select {
    background-color: transparent;
    color: var(--text-color);
    border: none;
    margin-left: 1rem;
}

.estimatedBalance-details select:focus {
    outline: none;
}

.estimatedBalance-details select option{
    background-color: var(--black-color);
    color: var(--text-color);
    border: none;
    
}

.estimatedBalance-card .estimatedBalance-actions{
    display: flex;
    gap: 2rem;
}

.estimatedBalance-card .estimatedBalance-actions .estimatedBalance-Button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem; 
}

.estimatedBalance-card .estimatedBalance-actions .estimatedBalance-Button img{
    width: 3rem;
    padding: .75rem;
    background-color: var(--primary-color);
    border-radius: 100%;
}

.estimatedBalance-card .estimatedBalance-actions .estimatedBalance-Button img:hover{
    background-color: var(--secondary-color);
}
