/* Chatbot widget styling */
.chatbot-widget {
  position: fixed;
  width: 20rem;
  background-color: var(--searchbar-border);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

/* Header section of the chatbot */
.chatbot-header {
  background-color: var(--trade-background-color);
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab; /* Indicate draggable area */
}
.chatbot-title {
  font-weight: bold;
  font-family: "Oxanium", serif;
}

.chatbot-close-icon {
  cursor: pointer;
  font-size: 2rem;
}

/* Chat messages container */
.chatbot-messages {
  height: 16rem;
  overflow-y: auto;
  padding: 0.75rem;
}

/* Chat message styling for user and bot */
.chatbot-message {
  margin-bottom: 0.5rem;
  display: flex;
}

.chatbot-message.user {
  justify-content: flex-end;
}

.chatbot-message.user span {
  background-color: var(--third-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--white-color);
}

.chatbot-message.bot span {
  background-color: var(--text-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--white-color);
}

/* Footer section with input and buttons */
.chatbot-footer {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chatbot-footer button {
  background-color: var(--primary-color);
  font-weight: bold;
}
.chatbot-footer button:hover {
  background-color: var(--secondary-color) !important;
}

.chatbot-input-group {
  display: flex;
  gap: 0.5rem;
}

.chatbot-input-group input {
  background-color: var(--searchbar-background);
  color: var(--white-color);
  width: 100%;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding-left: 0.5rem;
}
.chatbot-input-group input::placeholder {
  color: var(--text-color);
}
/* Button to open the chatbot */
.chatbot-open-button {
  position: fixed;
  cursor: grab;
  z-index: 1000;
  transition: none;
  background-color: var(--primary-color);
}
.chatbot-open-button span {
  color: var(--white-color);
}
.chatbot-open-button:hover {
  background-color: var(--secondary-color) !important;
}
