
.footer {
  width: 100%;
  margin-top: 3rem;
}

.footer_Container {
    display:grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: space-between;
    padding: 2.5rem;
    gap: 2.5rem;
    width: 100%;
  }

  .footer_copyright {
    width: 70%;
    border-top: 1.5px solid var(--black-background-color);
    padding: 2rem;
    display: flex;
    justify-content: center;
    justify-self: center;
  }

  .footer_copyright span:first-child{
      margin-right: 2rem;
  }
  
  .footer h4 {
    font-size: 1.1rem;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-logo p {
    font-family: "Oxanium", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--header-color);
  }
  
  .footer-center {
    flex: 0.25;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
  }
  
  .footer-center p {
    line-height: 2rem;
    color: var(--text-color);
  }
  
  .footer-center .footer-social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }
  
  .footer-center .footer-social-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .footer-center .footer-social-container a {
    transition: all 0.3s ease;
    padding: 0.5rem;
    border-radius: 100%; 
    border: 1px solid;
    border-color: var(--black-color);
    background-color: var(--black-color);
    box-shadow: 0 0 2.5rem 1rem rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .footer-center .footer-social-container a .icon{
    position: relative;
    z-index: 10;
  }

  
  .footer-center .footer-social-container a:after {
    content: ""; 
    width: 100%;
    height: 100%;
    top: -60px;
    left: 0;
    background: linear-gradient(135deg, rgba(132, 250, 176, 0.7), rgba(143, 211, 244, 0.51));
    position: absolute;
    transition: all 0.5s ease;
  }

  .footer-center .footer-social-container a:hover:after {
    top: 0;
  }


  .footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    gap: 1.5rem;
  }
  
  .footer-menu .footer-menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    flex: 0.5;
  }
  

  .footer-menu-container .Link * {
    color: var(--text-color);
    transition: all 0.3s ease;
  }

  .footer-menu-container .Link:hover *{
    color: var(--primary-color);
  }


  /* Responsive design css 
------------------------------------------- */

/* tablet  */
@media (max-width: 1280px) 
{
  .footer{
    display: flex;
    flex-direction: column;
  }

  .footer-social-container {

  }
  
  .footer-desc {

  }
  
} 


/* Mobile  */
@media (max-width: 767px) 
{
  
}

