.convert-list-coins {
  background: transparent;
  color: #fff;
  border: 0.05rem solid #565656;
  border-radius: 0.5rem;
  overflow: hidden;
  padding-right: 0.2rem;
  padding-bottom: .3rem;
  height: 19rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.convert-list-coins-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 0.5rem 0;
  padding-left: 4.5rem;
  padding-right: 3rem;
}

.convert-list-coins-header p {
  font-size: 0.9rem;
  color: #bdbdbd;
}

.convert-list {
  overflow-y: scroll;
  flex: 1;
}

.convert-list::-webkit-scrollbar {
  width: 0.3rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.convert-list::-webkit-scrollbar-thumb {
  padding: 0 0.01rem;
  border-radius: 0.5rem;
  background: white;
}

.coin-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1.5rem;
  width: 100%;
  cursor: pointer;
}

.coin-item:hover {
  background: rgb(34, 34, 34);
}

.coin-item:last-child {
  border-bottom: none;
}

.coin-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.coin-item .coin-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.coin-title {
  font-weight: 700;
}

.coin-symbol {
  font-size: 0.8rem;
  color: #888888;
}
