.Wallet-List-Container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 3.5rem;
    height: 100%;
}

.Subtest-heading-walletlist {
    color: var(--white-color);
}

.Heading-title_walletlist {
    color: var(--white-color);
    font-size: 3rem;
    text-transform: capitalize;
}

.WalletList-Item-Container {
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}

.Wallet-Item {
    display: flex; 
    align-items: center ;
    flex-direction: column;
    /* background-color: rgba(77, 77, 77, 0.3); */
    background: linear-gradient(148deg, rgba(24, 214, 81, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
    backdrop-filter: blur(10px);
    border-radius: 1.2rem;
    padding: 1.2rem;
    gap: 1rem;
    width: 100%;  
}

.app.light .Wallet-Item {
    background: linear-gradient(148deg, rgba(24, 214, 81, 0.4) 0%, rgba(255, 255, 255, 0.03) 100%);
}

.Wallet-Image-Container {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    border-radius: 100%;
    background-color: rgba(161, 226, 190, 0.3);
    /* fill: linear-gradient(148deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.05) 100%); */
    backdrop-filter: blur(10px);
}

.Wallet-Image {
    width: 2.5rem;
    height: 2.5rem;
}

.Wallet-Name-Container {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
}

/* Responsive design css 
------------------------------------------- */

/* Mobile (481px - 767px) */
@media (max-width: 767px) {
    .WalletList-Item-Container {
        grid-template-columns: repeat(2,1fr);
    }
} 

