.convert-coin-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.479);
  left: 0;
  top: 0;
  z-index: 1;
}

.convert-coin-selection-container-list {
  overflow: auto;
}

.convert-coin-selection-container-list::-webkit-scrollbar {
  width: 0.3rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.convert-coin-selection-container-list::-webkit-scrollbar-thumb {
  padding: 0 0.01rem;
  border-radius: 0.5rem;
  background: white;
}

.selection-coin-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1.5rem;
  width: 100%;
  cursor: pointer;
}

.selection-coin-item:hover {
  background: rgb(34, 34, 34);
}

.selection-coin-item:last-child {
  border-bottom: none;
}

.selection-coin-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.selection-coin-item .selection-coin-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.selection-coin-title {
  font-weight: 700;
}

.selection-coin-symbol {
  font-size: 0.8rem;
  color: #888888;
}
