.market-coin-brief{
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 22rem;
    justify-content: space-between;
    padding: 7px;
}

.market-coin-brief:hover{
    background-color: var(--grey-color);
    cursor: pointer;
}

.market-coin-logo{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.market-coin-symbol{
    font-size: 1.2rem;
}

.market-coin-img{
    width: 2.6rem;
    height: 2.6rem;
    margin-right: 7px;
}

.market-coin-prices{
    display: flex;
    align-items: center;
    gap: 10%;
}

.market-coin-current{
    font-size: 1.2rem;
    font-family: Oxanium;
}

.market-coin-fluctuation{
    width: 6rem;
    text-align: right;
    font-weight: 800;
    font-size: 1.3rem;
    text-wrap: nowrap;
}

.upward-fluctuation{
    color: var(--price-rising);
}

.downward-fluctuation{
    color: var(--price-falling);
}