.profileTH-card{
    border: 0.05rem solid var(--white-color);
    padding: 2rem 2rem;
    width: 100%;
    height: fit-content;
    border-radius: 1.5rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.profileTH-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profileTH-card-shrink{
    padding: 1rem 2rem;
    width: fit-content;
    min-height: 12rem;
    height: fit-content;
}
.profileTH-card .profileTH-heading{
    font-size: 2rem;
}

.profileTH-card .profileTH-table{

    width: 100%;
    border-collapse: collapse
}

.profileTH-card .profileTH-table th{
    text-align: left;
    padding: .5rem;
    border-bottom: 0.05rem solid var(--white-color);
    white-space: nowrap;
}

.profileTH-card .profileTH-table td{
    text-align: left;
    padding: .5rem;
    white-space: nowrap;
}

.profileTH-buy {
    color: var(--primary-color);
  }
  
.profileTH-sell {
    color: red;
}

.profileTH-ExportBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    gap: 0.5rem;
    padding: .5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.profileTH-ExportBtn:hover{
    background-color: var(--secondary-color);
}

.profileTH-ExportBtn img{
    width: 2rem !important;
}

.profileTH-ExportBtn p{
    font-weight: 800;
}