.addLiquidity_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 20px;
  padding: 0.9rem 1rem;
  position: relative;
  background-color: var(--trade-background-color);
}

.addLiquidity_top {
  margin-bottom: 0.5rem;
  width: 100%;
}

.addLiquidity_top span {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--trade-secondary-text-color);
}

.addLiquidity_token_container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 0.5rem;
}

.addLiquidity_token {
  font-weight: bolder;
  font-size: 1.3rem;
}

.addLiquidity_token_link {
  transition: all 0.3s ease;
}

.addLiquidity_token_link:hover {
  color: var(--primary-color);
}

.addLiquidity_rate {
  padding: 0.5rem 0.8rem;
  background-color: var(--black-background-color);
  border-radius: 30px;
  color: #fafafa;
}

.addLiquidity_rate p {
  font-size: 1rem;
  font-weight: bold;
}

.light .addLiquidity_rate {
  background-color: var(--grey-color);
  color: #000;
}

.addLiquidity_reservers_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 0.3rem;
}

.addLiquidity_pool_heading p {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--trade-secondary-text-color);
}

.addLiquidity_token {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.addLiquidity_token p {
  font-weight: bold;
  font-size: 1.1rem;
}

.addLiquidity_line_container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Liquidity_Line {
  padding: 0.3rem 0.2rem;
  height: 10px;
  transition: width 0.3s ease-in-out; 
}

.CEP_line {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: var(--primary-color);
}

.LNX_line {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgb(241, 105, 14);
}

.addLiquidity_input_container {
  margin-top: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.addLiquidity_input{
    padding: 0.5rem; 
    background-color: transparent !important; 
    border: 1.5px solid var(--white-color) !important;
    border-radius: 10px !important;
    color: var(--white-color) !important;   
}

.addLiquidity_input::placeholder{
  color: var(--text-color) !important;
}

.addLiquidity_input:hover {
  background-color: transparent !important;
}

.addLiquidity_input:focus { 
  background-color: transparent !important;
}