.addLiquidity_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 100%;
    border-radius: 20px;
    border: 2px solid var(--white-color);
    padding: 1.2rem 1.7rem;
    position: relative;
}

.addLiquidity_top {
    margin-bottom: 2rem;
}

.addLiquidity_top span{
    font-size: 1.3rem;
    color: var(--text-color);
}

.addLiquidity_token_container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 1rem;
}

.addLiquidity_token {
    font-weight: bolder;
    font-size: 1.3rem;
}

.addLiquidity_token_link {
    transition: all 0.3s ease;
}

.addLiquidity_token_link:hover {
    color: var(--primary-color);
}

.addLiquidity_rate {
    padding: 0.5rem 0.8rem;
    background-color: var(--black-background-color);
    border-radius: 30px;
    color: #fafafa;
}

.addLiquidity_reservers_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 0.3rem;
}

.addLiquidity_pool_heading {
    color: var(--text-color);
    font-size: 1.1rem;
}

.addLiquidity_token {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.addLiquidity_token p{
   font-weight: bold;
   font-size: 1.1rem;
}

.addLiquidity_line_container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Liquidity_Line {
    padding: 0.3rem 0.2rem;
    height: 10px;
}

.CEP_line {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 37%;
    background-color:var(--primary-color);
}

.LNX_line {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 63%;
    background-color:rgb(241, 105, 14) ;
}