.trade-selection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin: auto;
  margin-bottom: 0.7rem;
  width: 450px;
}

.trade-selection button {
  outline: none;
  border: none;
  background: transparent;
  padding: 0.3rem 0.8rem;
  color: #707070;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 1rem;
  transition: border-bottom 0.1s ease;
  cursor: pointer;
}

.trade-selection button.active {
  color: white;
  background: var(--primary-color);
}

.trade-selection button.active:hover {
  color: white;
  background: var(--primary-color);
}


.trade-selection button:hover {
  color: var(--white-color);
}
