.convert-trade-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;
  margin-bottom: 2rem;
}

.convert-trade-heading h1 {
  color: var(--header-color);
}

.convert-trade-heading-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.convert-trade-heading-bottom p span {
  margin-right: 0.5rem;
}

.convert-trade-heading-bottom .convert-trade-history {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.convert-trade-heading-bottom .convert-trade-history span {
  visibility: hidden;
  font-size: 0.7rem;
  font-weight: 600;
  width: 7rem;
  background-color: var(--white-color);
  color: black;
  text-align: center;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  position: absolute;
  bottom: 140%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1;
}

.convert-trade-heading-bottom .convert-trade-history:hover span {
  visibility: visible;
  opacity: 1;
}
