.coin-details-upper{
    margin: 5rem 3rem;
    display: flex;
    gap: 6rem;
}
.coin-details-upper-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}
.coin-details-intro-heading{
    font-size: 2.2rem;
}
.coin-details-intro-description{
    font-size: 1.1rem;
}
.coin-details-intro-show-more{
    color:#1a6f3e;
    font-weight: 600;
    font-size: 1.1rem;
}
.coin-details-intro-show-more:hover{
    color: #24aa5c;
    cursor: pointer;
    transition: 0.1s;
}

.coin-details-swap{
    background-color: rgb(140, 188, 128);
    width: 100%;
    height: 300px;
}

/* Coin not Found */
.coin-not-found-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found-img{
    height: 300px;
    width: 300px;
}

.return-to-explore{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 20px;
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
}

.return-to-explore:hover{
    cursor: pointer;
    background-color: #2d9358;
    box-shadow: 1px 0px rgba(85, 85, 85, 0.363);
}