.coin-details-upper{
    margin: 5rem 3rem;
    padding-top: 5rem;
    display: flex;
    gap: 30px;
}
.coin-details-overview{
    flex: 2;
}
.coin-details-upper-right{
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
    width: 100%;
    min-width: 300px;
    flex: 1;
}
.coin-details-intro-heading{
    font-size: 2.2rem;
}
.coin-details-intro-description{
    font-size: 1.1rem;
}
.coin-details-intro-show-more{
    color:#1a6f3e;
    font-weight: 600;
    font-size: 1.1rem;
    align-self:flex-end;
}
.coin-details-intro-show-more:hover{
    color: #24aa5c;
    cursor: pointer;
    transition: 0.1s;
}

.coin-details-swap{
    width: 100%;
    height: 370px;
}

/* Lower section */
.coin-details-lower{
    margin: 10rem 3rem;
    display: flex;
    gap: 30px;
}   

.coin-details-info-container{
    flex: 2;
}

.coin-details-hot-coins{
    width:100%;
    padding: 0 20px;
    flex: 1;
}

/* Coin not Found */
.coin-not-found-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found-img{
    height: 300px;
    width: 300px;
}

.return-to-explore{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 20px;
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
}

.return-to-explore:hover{
    cursor: pointer;
    background-color: #2d9358;
    box-shadow: 1px 0px rgba(85, 85, 85, 0.363);
}

@media (max-width: 1000px){
    .coin-details-swap{
        display:none;
    }
    .coin-details-upper{
        flex-direction: column;
        margin: 5rem 8rem;
    }
    .coin-details-info>div:last-child{
        text-align: left;
    }

}
@media (max-width: 940px){
    .coin-details-lower{
        flex-direction: column;
        margin: 5rem 8rem;
    }
}
@media (max-width:700px) {
    .coin-details-upper{
        flex-direction: column;
        margin: 5rem 2rem;
    }
    .coin-details-info-container div{
        flex: 1;
    }
}
