/* Wraps Market-overview under its title */
@media (max-width: 650px) {
    .market-landing {
        flex-wrap: wrap;
    }
    .pool-headers-prices h2{
        max-width: 6.5rem;
    }
}
/* ----------Market landing---------- */
.market-landing{
    display: flex;
    width: fit-content;
    padding: 5rem;
    margin: 4rem auto;
    gap: 5rem;
}

.market-overview-title{
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
    margin: 5px 0;
}

.market-overview-content{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1rem;
    min-width: 23rem;
}

.market-hot-coins{
    flex: 1 1 20rem;
}

.hot-coins-listing{
    width: 100%;
}
.top-gains-new-listing{
    flex: 1 1 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.market-hot-coins, .market-top-gains, .market-top-losses{
    padding: 15px;
    padding-bottom: 0;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 0.6rem;
}








