.navtrade {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  width: fit-content;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  margin-top: 4.5rem;
  cursor: auto;
  z-index: 100;
  background: #2e2e2e1a;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.navtrade-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
  width: 15rem;
}

.navtrade-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  cursor: pointer;
}

.navtrade-item .navtrade-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.navtrade-item .navtrade-content .navtrade-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.9rem;
}

.navtrade-item .navtrade-content .navtrade-heading p {
  font-family: "Manrope";
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--white-color);
}

.navtrade-item .navtrade-content .navtrade-heading i {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--primary-color);
  display: inline-block;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.navtrade-item .navtrade-content .navtrade-heading:hover i {
  transform: translateX(0%);
  opacity: 1;
}

.navtrade-item .navtrade-content .navtrade-desc {
  font-family: "Manrope";
  font-size: 0.8rem;
  color: var(--trade-secondary-text-color);
}
