.recurring-selection-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  border: 0.05rem solid #565656;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
}

.recurring-selection-main:hover {
  border: 0.05rem solid #868686;
}

.recurring-selection-main .recurring-selection-main-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.recurring-selection-main .recurring-selection-main-left p {
  font-size: 0.9rem;
  color: #bdbdbd;
}

.recurring-selection-main .recurring-selection-main-right p {
  font-weight: 600;
}

.recurring-selection-main .recurring-selection-main-right i {
  font-size: 0.7rem;
  color: #565656;
}

.recurring-selection-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem 0;
  background: var(--black-color);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 13px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 4px 13px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 13px -1px rgba(0, 0, 0, 0.75);
  position: absolute;
  width: 100%;
  height: 15rem;
  bottom: -38%;
  overflow: hidden;
  border: 0.01rem solid #222222;
  z-index: 1;
}

.recurring-selection-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-right: 0.2rem;
}

.recurring-selection-container .recurring-selection-container-wrap {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.recurring-selection-container .recurring-selection-container-left {
  border-right: 0.05rem solid #868686;
}

.recurring-selection-container-right .recurring-selection-container-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 11.1rem;
}

.recurring-selection-container-right
  .recurring-selection-container-list::-webkit-scrollbar {
  width: 0.3rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.recurring-selection-container-right
  .recurring-selection-container-list::-webkit-scrollbar-thumb {
  padding: 0 0.01rem;
  border-radius: 0.5rem;
  background: white;
}

.recurring-selection-container .recurring-selection-container-title p {
  font-size: 0.8rem;
  font-weight: 600;
  color: #bdbdbd;
  margin-bottom: 1rem;
  padding: 0 1.5rem;
}

.recurring-selection-container-list .recurring-selection-container-list-item {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.recurring-selection-container-list
  .recurring-selection-container-list-item:hover {
  background: #222222;
}

.recurring-selection-container-list .recurring-selection-container-list-item {
  font-size: 0.9rem;
  color: #bdbdbd;
  display: flex;
  justify-content: space-between;
}

.recurring-selection-container-list .recurring-selection-container-list-item i {
  font-size: 0.8rem;
}

.recurring-selection-container-list
  .recurring-selection-container-list-item.selected {
  font-size: 0.9rem;
  color: #ffffff;
}

.recurring-selection-container-list
  .recurring-selection-container-list-item:hover {
  font-size: 0.9rem;
  color: #ffffff;
}
