.profileWalletBalance-info {
  padding: 1.5rem 0rem;
  max-width: 35rem;
}
.profileWalletBalance-header {
  margin-bottom: 20px;
}
.profileWalletBalance-header h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  display: inline;
}
.profileWalletBalance-header span {
  display: inline;
  font-size: 1rem;
  color: var(--white-color);
  margin-left: 1rem;
}
.profileWalletBalance-content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}
.profileWalletBalance-card {
  border: 0.05rem solid var(--trade-border-color);
  padding: 1rem;
  border-radius: 0.5rem;
  flex: 1;
  text-align: left;
  min-width: 10rem;
}
.profileWalletBalance-card h3 {
  font-size: 1.5rem;
  color: var(--white-color);
  margin-bottom: 0.8rem;
}
.profileWalletBalance-card p {
  font-size: 1.2rem;
  font-weight: bold;
}
.profileWalletBalance-tokenBalance {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.profileWalletBalance-tokenBalance select {
  background-color: transparent;
  color: var(--white-color);
  padding: 0rem 0.3rem;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
}

.profileWalletBalance-tokenBalance select option {
  background-color: var(--black-color);
  color: var(--white-color);
}

.profileWalletBalance-tokenBalance select:focus {
  outline: none;
}

@media (max-width: 600px) {
  .wallet-content {
    flex-direction: column;
  }
  .balance-card {
    width: 100%; /* Full width for smaller screens */
  }
}
