.nft-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 2.8rem;
}

.nft-list-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nft-list-top h2 {
  font-size: 2rem;
}

.nft-list-top .nft-list-creation .create-btn {
  font-weight: 600;
  background: var(--primary-color);
  color: white;
  height: 2.4rem;
  align-self: center;
  transition: background 0.2s;
}

.nft-list-top .nft-list-creation .create-btn:hover {
  background: #00943e !important;
}

.nft-list-bottom {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.8rem;
  width: 100%;
}

.nft-list-bottom .nft-collection-card {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  background: var(--nft-collection-card);
  box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: box-shadow 0.5s, transform 0.5s;
}

.nft-list-bottom .nft-collection-card.skeleton {
  background: var(--nft-collection-card);
}

.nft-list-bottom .nft-collection-card:hover {
  transform: translateY(-2%);
  box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

.nft-list-bottom .nft-collection-card .nft-collection-cover {
  width: auto;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--nft-collection-cover);
}

.nft-list-bottom .nft-collection-card.skeleton .nft-collection-cover {
  animation: shimmer 1.5s infinite linear;
}

.nft-list-bottom .nft-collection-card .nft-collection-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nft-list-bottom .nft-collection-card .nft-collection-desc {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.1rem 1rem;
  color: var(--white-color);
}

.nft-list-bottom .nft-collection-card .nft-collection-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nft-list-bottom .nft-collection-card .nft-collection-header h3 {
  font-family: "Manrope", serif;
  font-size: 1rem;
}

.nft-list-bottom .nft-collection-card .nft-collection-header h3 {
  font-family: "Manrope", serif;
  font-size: 1rem;
}

.nft-collection-desc .nft-collection-desc-title {
  font-size: 0.9rem;
  color: var(--trade-secondary-text-color);
}

.nft-collection-price {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--white-color);
}

.nft-collection-card.create {
  background: transparent;
  border: 0.2rem dashed #5c5c5c;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.nft-collection-card.create:hover {
  transform: translateY(-2%);
  box-shadow: none;
}

.nft-collection-card.create div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--white-color);
  color: var(--black-color);
}

.nft-collection-card.create h4 {
  font-family: "Manrope", serif;
  font-size: 1rem;
}

@keyframes shimmer {
  0% {
    background: var(--nft-collection-shimmer-1);
  }
  50% {
    background: var(--nft-collection-shimmer-2);
  }
  100% {
    background: var(--nft-collection-shimmer-1);
  }
}
